html {
    background: #ECEEF4;
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Roboto', Helvetica, sans-serif;
	color: #9098B8;
}

header {
    max-width: 1190px;
    height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.head-logo {
    width: 150px;
    height: auto;
}

.go-back, .sign-in {
    width: 170px;
    height: 60px;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #CDD3E3;
    border-radius: 5px;
    padding-left: 35px;
	padding-top: 22px;
    text-transform: uppercase;
}

.go-back:hover, .sign-in:hover{
    color: #84A3D1;
    border-color: #84A3D1;
}

.go-back::before, .sign-in::before {
  	font-family: "fontello";
 	content: '\e806';
	margin-right: 10px;
}

.sign-in::before {
    content: '\e809';
}

/*main*/
main {
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
	counter-reset: section;
}

.order-form {
    background-color: #fff;
    border: 2px solid #CDD3E3;
    border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

/*Your order*/
.your-order, .help-center {
	border-bottom: 1px solid #CDD3E3;
    -webkit-box-flex: 68%;
        -ms-flex: 68%;
            flex: 68%;
	padding-top: 36px;
	padding-left: 73px;
	padding-right: 35px;
	padding-bottom: 20px;
}
.your-order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.your-order h1, .help-center h1 {
	font-weight: 700;
	text-transform: uppercase;
	color: #6E768F;
	margin-bottom: 20px;
}

.your-order h1::before, .help-center h1::before {
	font-family: "fontello";
 	content: '\e813';
	position: absolute;
	font-size: 22px;
	margin-left: -30px;
	margin-top: -5px;
}

.your-order-table-wrap {
	width: 100%;
}

.place-order, .print-quote {
	display: block;
	width: 182px;
	height: 45px;
	border: 1px solid #CDD3E3;
	border-radius: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 40px;
}

.place-order {
	background-color: #5FCAC6;
	color: #fff;
}

.print-quote {
	background-color: #F7F7FA;
}

.place-order:hover, .print-quote:hover, .choosing-language select:hover {
	color: #84A3D1;
    border-color: #84A3D1;
}

.order-details {
	width: 100%;
}

.order-details th, .uploaded-files-table th {
	color: #6E768F;
	text-transform: uppercase;
	font-weight: 700;
}

.order-details th, .order-details td, .uploaded-files-table th,.uploaded-files-table td {
	padding-top: 15px;
	padding-right: 5%;
}

.help-center {
	-webkit-box-flex: 30%;
	    -ms-flex: 30%;
	        flex: 30%;
	border-left: 1px solid #CDD3E3;
}

.help-center h1::before {
	content: '\e808';
}

.help-center address {
	margin-top: 15px;
}

.help-center address a {
	margin-right: 10px;
	color: #6E768F;
	font-weight: 700;
}

.help-center address a:hover {
	color: #84A3D1;
}
/*Your order end*/
.uploading-document, .choosing-language, .payment, .how-urgent, .selecting-tone, .select-service, .submit-form {
	padding-left: 120px;
	padding-right: 90px;
	padding-bottom: 80px;
	padding-top: 20px;
}
.uploading-document, .choosing-language, .payment, .select-service, .payment, .how-urgent, .submit-form {
	-webkit-box-flex: 1;
	    -ms-flex: 1 100%;
	        flex: 1 100%;
}
/*Select service*/
.select-service {
	padding-top: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
}

.select-service h1 {
	-webkit-box-flex: 100%;
	    -ms-flex: 100%;
	        flex: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	color: #6E768F;
	margin-bottom: 80px;
}

.select-service h1 span {
	border-bottom: 1px solid #6E768F;
	padding-bottom: 10px;
	line-height: 50px;
}

.select-service input[type="radio"], .selecting-tone input[type="radio"], .payment-method input[type="radio"]{
  	border: 0; 
  	clip: rect(0 0 0 0); 
  	height: 1px; margin: -1px; 
  	overflow: hidden; 
  	padding: 0; 
  	position: absolute; 
  	width: 1px;
}

.select-service label, .selecting-tone label, .payment-method label {
	width: 250px;
	height: 170px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #F7F7FA;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #CDD3E3;
	position: relative;
	display: block;
}

.select-service label img {
	width: 150px;
}

.select-service label:hover, [type="radio"]:checked + label, .selecting-tone label:hover, .payment-method label:hover{
	border: 4px solid #76A7E1;
	padding: 7px;
}

[type="radio"]:checked + label::after, .user-details input:valid ~ .validation::after, .user-details input:invalid ~ .validation::after {
	content: '\e80b';
	font-family: 'fontello';
	position: absolute;
	line-height: 20px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #76A7E1;
	border-radius: 50%;
	display: inline-block;
	top: -10px;
	right: -10px;
}
/*Select service end*/
/*Upload service*/
.uploading-document h1, .choosing-language h1, .how-urgent h1, .selecting-tone h1, .payment h1 {
	font-size: 22px;
	color: #6E768F;
	margin-bottom: 60px;
}

.uploading-document h1::before, .choosing-language h1::before, .how-urgent h1::before, .selecting-tone h1::before, .payment h1::before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 2px solid #6E768F;
	position: absolute;
	content: '1';
	margin-left: -60px;
	margin-top: -12px;
	border-radius: 50%;
}

.choosing-language h1::before {
	content: '2';
}

.how-urgent h1::before {
	content: '4';
}

.selecting-tone h1::before {
	content: '3';
}

.payment h1::before {
	content: '5';
}

.uploading-document h1 small {
	font-size: 14px;
}

.upload-file-btn {
	width: 230px;
    height: 45px;
	border: 1px solid #CDD3E3;
	background-color: #F7F7FA;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 60px;
	font-weight: 700;
	margin-bottom: 10px;
}

.uploading-document .upload-file-btn:hover{
	color: #84A3D1;
    border-color: #84A3D1;
}

.uploaded-files-table-wrap {
	border: 1px solid #CDD3E3;
	border-radius: 5px;
	margin-top: 20px;
	padding-left: 5%;
	padding-top: 35px;
	padding-bottom: 45px;
}

.uploaded-files-table {
	width: 100%;
}

.uploaded-files-table .file-name::before {
	content: '\e802';
	position: relative;
	font-family: 'fontello';
	margin-right: 20px;
}

.uploaded-files-table .remove-file {
	text-align: center;
}

.icon-trash[role='button'] {
	cursor: pointer;
}

.icon-trash[role='button']:hover {
	color: #84A3D1;
}
/*Choose language*/
.choosing-language select, .user-details input, .card-details input {
	width: 180px;
    height: 45px;
	border: 1px solid #CDD3E3;
	background-color: #F7F7FA;
	border-radius: 5px;
	color: #6E768F;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 20px;
	margin-bottom: 40px;
	cursor: pointer;
}

.choosing-language label {
	display: inline-block;
	width: 50px;
	text-align: right;
	padding-right: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #6E768F;
}

.add-language-btn {
	width: 90px;
    height: 45px;
	border: 1px solid #CDD3E3;
	background-color: #F7F7FA;
	border-radius: 5px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 10px;
}

.add-language-btn:hover {
	color: #84A3D1;
	border-color: #84A3D1;
}
/*Select tone*/
.selecting-tone {
	-webkit-box-flex: 40%;
	    -ms-flex: 40%;
	        flex: 40%;
}

.selecting-tone label {
	width: 230px;
    height: 75px;
	padding-top: 30px;
	font-size: 16px;
}

.selecting-tone [type="radio"]:checked + label, .selecting-tone label:hover {
	padding-top: 27px;
}

.selecting-tone label::before {
	content: '\e804';
	font-family: 'fontello';
	margin-right: 10px;
}

.selecting-tone label[for="corporate"]::before {
	content: '\e805';
}

.selecting-tone label[for="media"]::before {
	content: '\e807';
}

/*How urgent*/
.how-urgent {
	-webkit-box-flex: 60%;
	    -ms-flex: 60%;
	        flex: 60%;
	position: relative;
}

.urgent-range-wrap {
	width: 100%;
	text-align: center;
}

input[type=range] {
	width: 85%;
	margin-bottom: 10px;
    height: 32px;
    border: none;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 9px;
    cursor: pointer;
    border-radius: 5px;
    background: #eff0f5;
}
input[type=range]::-moz-range-track {
    height: 9px;
    cursor: pointer;
    border-radius: 5px;
    background: #eff0f5;
}
input[type=range]::-ms-track {
    height: 9px;
    cursor: pointer;
    color: transparent;
    border: none;
    border-radius: 5px;
    background: #eff0f5;
}

input[type=range]::-webkit-slider-thumb {
    width: 19px;
    height: 19px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #edbe76;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    width: 19px;
    height: 19px;
    border: none;
    border-radius: 50%;
    background-color: #edbe76;
}
input[type=range]::-ms-thumb {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #edbe76;
}

input[type=range]::-ms-fill-lower {
    background: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb:hover {
	cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover {
	cursor: pointer;
}
input[type=range]::-ms-thumb:hover {
	cursor: pointer;
}

input[type=range][disabled] {
    opacity: 0.3;
}

.urgent-range-labels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #6E768F;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: 700;
}

.timeline-info {
	border: 1px solid #CDD3E3;
	border-radius: 5px;
	padding-top: 30px;
	padding-left: 70px;
	padding-right: 40px;;
	padding-bottom: 20px;
	margin-top: 50px;
}

.timeline-info h2 {
	font-size: 16px;
	color: 	#6E768F;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}

.timeline-info h2::before {
	font-family: 'fontello';
	content: '\e80a';
	font-size: 22px;
	position: absolute;
	left: -30px;
	top: -5px;
}

.timeline-info p {
	line-height: 22px;
}

.timeline-info p output {
	color: #edbe76;
	text-transform: uppercase;
	font-weight: 700;
}

/*Payment*/
.user-details, .card-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
} 
.user-details label, .card-details label{
	display: inline-block;
	margin-top: 40px;
	text-transform: uppercase;
	font-weight: 700;
}

 .user-details input, .card-details input {
	width: 250px;
	margin-top: 10px;
}

.user-details input:valid ~ .validation::after, .user-details input:invalid ~ .validation::after{
	position: relative;
	text-align: center;
	top: 0px;
	left: -50px;
}

.user-details input:invalid ~ .validation::after {
	content: '\e80c';
	background-color: #E17776;
}

.payment-method {
	margin-top: 60px;
	margin-bottom: 30px;
}

.payment-method label {
	display: inline-block;
	height: 100px;
	width: 250px;
}

.payment-method label img {
	height: 50px;
	margin-top: 15px;
}

.card-details input[type="date"] {
	width: 130px;
}

.card-details input[name="code"] {
	width: 70px;
	-webkit-text-security: disc;
}

.card-details input[type="date"]::-webkit-clear-button, .card-details input[type="date"]::-webkit-inner-spin-button, .card-details input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.submit-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.submit-form input, .submit-form button {
	margin-left: 30px;
}

/*Footer*/
.main-footer {
	background-color: #444A62;
	margin-top: 80px;
}

.footer-wrap {
	max-width: 1190px;
    padding-left: 20px;
    padding-right: 20px;
	margin-left: auto;
    margin-right: auto;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer-wrap section{
	width: 22%;
	padding-left: 60px;
	font-size: 12px;
}

.footer-logo img {
	margin-left: auto;
	display: block;
}

.we-do h1, .main-office h1, .connect h1 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
}

.we-do h1::before, .main-office h1::before, .connect h1::before {
	content: '\e80d';
	font-family: 'fontello';
	position: absolute;
	left: -40px;
	top: -3px;
	font-size: 20px;
}

.main-office h1::before {
	content: '\e80e';
}

.connect h1::before {
	content: '\e80f';
}

